[Unit]
Description=System Logging Service

[Service]
ExecStartPre=/bin/systemctl stop syslog.service
ExecStart=/usr/sbin/rsyslogd -n -c5
Sockets=syslog.socket

[Install]
WantedBy=multi-user.target
